h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.navigation{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    /* gap: 10px; */
}
.navigation>div{
    border:  1px solid black;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
}
a{
    text-decoration: none;
}
